<!DOCTYPE html>
<html>
<head>


img { display: block;
margin-left: auto;
margin-right: auto;
text-align : center;
}



body 

{
  background-image:url('ldoe11.jpg');
  background-repeat:no repeat ;
  background-attachment: fixed;
  background-size: 100% 100%;
 
}

h2 {
  color: white;
  font-family: cursive;
  text-align:center;
  font-size: 70px;
}

ul{
  display:inline-block;
  padding: 10px;
  font-family: Arial Black;
  border: 10px solid black;
  font-size: 60px;
 
 
  }
}




</head>
</html>